@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);

// color theme: https://kuler.adobe.com/#themeID/2129122

$wall-color: #ab2;
$contribution-bubble-color: #fff;

$tag-bubble-border-color: #c8271a;
$tag-text-color: black;

$widget-background-color: #ffa100;
$widget-accent-color: #c8271a;


@mixin transition($duration, $property: all, $timing: ease, $delay: 0) {
    -webkit-transition: $property $duration $timing $delay;
    -moz-transition: $property $duration $timing $delay;
    transition: $property $duration $timing $delay;
}

body {
    font-family: Ubuntu, sans-serif;
    background-color: $wall-color;
    overflow: hidden;
}

#wall {
  position: absolute;
  top: 10px;
  bottom: 50px;
  right: 30px;
  left: 30px;
}


.contribution.balloon {
    position: absolute;
    width: 200px;
    display: inline-block;

    border-radius: 15px;
    background-color: rgba($contribution-bubble-color, 0.9);
    box-shadow: rgba(#000, 0.3) 0px 2px 10px;

    h3.headline {
        margin-top: 8px;
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 0;
        padding-left: 14px;
        padding-right: 14px;
        margin-bottom: 2px;
    }

    // .tags {
    //     font-size: 11px;
    //     margin: 0 8px 6px;
    // }

    .meta .author {
        color: #999;
        font-size: 11px;
        margin-bottom: 1em;
        padding: 2px;
        position: absolute;
        right: 6px;
        top: 0;
    }

    .body {
        display: none;
        margin-top: 0;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 6px;
        padding-left: 14px;
        padding-right: 14px;
    }

    // .tag {
    //     background: rgba(200,200,200, 0.75);
    //     border-radius: 5px;
    //     display: inline-block;
    //     margin-right: 5px;
    //     margin-bottom: 3px;
    //     padding: 2px 4px;
    // }

    &.opened .body {
        display: block;
    }

    @include transition(0.5s, height);
}

.tag.balloon {
    position: absolute;

    max-width: 150px;
    border-radius: 1.5em;
    // background-color: rgba($tag-bubble-color, 0.9);
    // box-shadow: inset -1px -2px 8px rgba(0, 0, 0, 0.6), 0px 2px 10px rgba(#000, 0.3);
    padding: 10px; 
    border: 5px dotted $tag-bubble-border-color;

    background-color: rgba($widget-background-color, 0.5);

    h3.name {
        text-align: center;
        margin: 0;
        color: $tag-text-color;
    }
}

#tags-panel {
    $width: 300px;

    position: fixed;
    width: $width;
    left: -$width;
    top: 20px;

    #tags-tab {

        display: inline-block;
        padding: 4px 10px;
        background-color: $widget-accent-color;
        color: lighten($widget-background-color, 10%);
        font-weight: bold;
        font-size: 20px;
        // border-left: 3px solid $widget-accent-color;
        // border-top: 3px solid $widget-accent-color;
        // border-right: 3px solid $widget-accent-color;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);

        position: absolute;
        left: 283px;
        top: 20px;

        box-shadow: inset 0px -6px 6px rgba(0, 0, 0, 0.3);
    }

    #tags-tab:hover {
        cursor: pointer;
    }

    #tags-editor {
        background-color: $widget-background-color;
        border: 3px solid #C8271A;
        border-left: none;

        // border-radius: 8px;
        padding: 10px;

        min-height: 200px;

        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    }
}

#add-tag-container {
    $font-size: 20px;

    position: fixed;
    bottom: 15px;
    left: 15px;
    border-radius: 1em;
    background-color: $widget-background-color;
    padding: 0;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.3);
    font-size: $font-size;
    min-width: 106px;

    #add-tag-opener {
        position: absolute;
        left: 0;
        border: none;
        display: inline-block;
        padding: 4px 10px;
        background-color: $widget-accent-color;
        color: $widget-background-color;
        font-weight: bold;
        font-size: $font-size;
        border-radius: 1em;
        box-shadow: inset -1px -2px 8px rgba(0, 0, 0, 0.6);
        margin: 0;
        white-space: nowrap;
        z-index: 1;

        @include transition(0.5s);
    }

    #add-tag-opener:hover {
        cursor: pointer;
    }

    #submit-new-tag {
        border: none;
        display: inline-block;
        padding: 4px 10px;
        background-color: $widget-accent-color;
        color: lighten($widget-background-color, 20%);
        font-weight: bold;
        font-size: $font-size;
        border-radius: 1em;
        box-shadow: inset -1px -2px 8px rgba(0, 0, 0, 0.6);
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;

        visibility: hidden;

        @include transition(0.5s);
    }

    #new-tag {
        font-size: $font-size;
        margin: 0;
        margin-left: 10px;
        margin-right: 1em;

        @include transition(0.5s);

        width: 0;
    }

    &.opened #add-tag-opener {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.opened #submit-new-tag {
        visibility: visible;
    }

    &.opened #new-tag {
        display: inline-block;
        width: 14em;
        margin-left: 106px;
    }
}

.balloon:hover {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.balloon.ui-draggable-dragging {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.balloon.blurred {
  opacity: 0.15;
}

@-webkit-keyframes teleportIn {
    0% { -webkit-transform:scale(0.3); opacity: 0.0;}
    100% {-webkit-transform:scale(1.0); opacity: 1.0; }
}
@-moz-keyframes teleportIn {
    0% { -moz-transform:scale(0.3); opacity: 0.0;}
    100% {-moz-transform:scale(1.0); opacity: 1.0; }
}

.balloon.new {
  -webkit-animation-name: teleportIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;

  -moz-animation-name: teleportIn;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
}


.source {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: green;
}

.target {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: blue;
}

.locator {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
}

.connector {
    opacity: 0.4;
    height: 15px;
    background: $widget-background-color;
    position: absolute;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}