@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);
body {
  font-family: Ubuntu, sans-serif;
  background-color: #aabb22;
  overflow: hidden;
  -webkit-transition: background-color 3s ease 0;
  -moz-transition: background-color 3s ease 0;
  transition: background-color 3s ease 0; }
  body #go-synthesize {
    opacity: 0.4; }
  body.mode-analysis {
    background-color: #51ba34; }
    body.mode-analysis #go-analyze {
      opacity: 0.4; }
    body.mode-analysis #go-synthesize {
      opacity: 1.0; }
  body.mode-synthesis {
    background-color: #34ba70; }
    body.mode-synthesis #go-analyze {
      opacity: 0.4; }
    body.mode-synthesis #go-synthesize {
      opacity: 0.4; }
  body.paused {
    background-color: #aaa; }

#wall {
  position: absolute;
  top: 10px;
  bottom: 50px;
  right: 30px;
  left: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  #wall #watermark {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    opacity: 0.4; }

.contribution.balloon {
  position: absolute;
  width: 150px;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
  max-height: 95%;
  overflow-y: auto;
  -webkit-transition: width 0.5s ease 0;
  -moz-transition: width 0.5s ease 0;
  transition: width 0.5s ease 0;
  -webkit-transition: height 0.5s ease 0;
  -moz-transition: height 0.5s ease 0;
  transition: height 0.5s ease 0; }
  .contribution.balloon h3.headline {
    margin-top: 8px;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 2px; }
  .contribution.balloon .meta .author {
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px;
    margin-bottom: 1em;
    padding: 2px;
    position: absolute;
    right: 14px;
    top: 0; }
  .contribution.balloon .meta .buildon-counter {
    color: rgba(200, 39, 26, 0.5);
    font-size: 13px;
    margin-bottom: 1em;
    position: absolute;
    left: 14px;
    top: 0;
    padding-top: 1px; }
  .contribution.balloon .body {
    display: none;
    margin-top: 0;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px; }
  .contribution.balloon .buildons {
    display: none;
    margin-top: 0;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px; }
    .contribution.balloon .buildons .buildon {
      padding-left: 5px;
      margin-bottom: 5px;
      border-left: 4px solid rgba(200, 39, 26, 0.5); }
      .contribution.balloon .buildons .buildon .author {
        color: rgba(0, 0, 0, 0.4);
        font-size: 11px; }
      .contribution.balloon .buildons .buildon .content {
        font-size: 13px; }
  .contribution.balloon.opened {
    width: 200px;
    background-color: white; }
  .contribution.balloon.opened .body {
    display: block; }
  .contribution.balloon.opened .buildons {
    display: block; }
  .contribution.balloon.riseabove {
    background-color: rgba(255, 255, 0, 0.9); }

.tag.balloon {
  position: absolute;
  max-width: 150px;
  border-radius: 1.5em;
  padding: 10px;
  border: 5px dotted #c8271a;
  background-color: rgba(255, 161, 0, 0.5); }
  .tag.balloon h3.name {
    text-align: center;
    margin: 0;
    color: black; }
  .tag.balloon.pinned {
    border-style: solid; }

#tags-panel {
  position: fixed;
  width: 300px;
  left: -300px;
  top: 20px; }
  #tags-panel #tags-tab {
    display: inline-block;
    padding: 4px 10px;
    background-color: #c8271a;
    color: #ffb433;
    font-weight: bold;
    font-size: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: 283px;
    top: 20px;
    box-shadow: inset 0px -6px 6px rgba(0, 0, 0, 0.3); }
  #tags-panel #tags-tab:hover {
    cursor: pointer; }
  #tags-panel #tags-editor {
    background-color: #ffa100;
    border: 3px solid #C8271A;
    border-left: none;
    padding: 10px;
    min-height: 200px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1); }

button {
  display: inline-block;
  border: none;
  padding: 4px 10px;
  background-color: #c8271a;
  color: #ffa100;
  font-weight: bold;
  box-shadow: inset -1px -2px 8px rgba(0, 0, 0, 0.6), 2px 1px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  font-size: 20px;
  -webkit-transition: opacity 1s ease 0;
  -moz-transition: opacity 1s ease 0;
  transition: opacity 1s ease 0; }
  button:hover {
    cursor: pointer; }

#action-buttons-container {
  position: fixed;
  bottom: 10px;
  right: 10px; }

#toggle-pause {
  margin-right: 60px;
  width: 140px; }
  #toggle-pause.paused {
    -webkit-animation-name: pulseFade;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: pulseFade;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-out; }

@-webkit-keyframes pulseFade {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 1.0; } }

@-moz-keyframes pulseFade {
  0% {
    opacity: 1,0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 1.0; } }

#add-tag-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 1em;
  background-color: #ffa100;
  padding: 0;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  min-width: 106px; }
  #add-tag-container #add-tag-opener {
    position: absolute;
    left: 0;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
    z-index: 1;
    box-shadow: inset -1px -2px 8px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.5s ease 0;
    -moz-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0; }
  #add-tag-container #add-tag-opener:hover {
    cursor: pointer; }
  #add-tag-container #submit-new-tag {
    border: none;
    display: inline-block;
    padding: 4px 10px;
    background-color: #c8271a;
    color: #ffc766;
    font-weight: bold;
    font-size: 20px;
    border-radius: 1em;
    box-shadow: inset -1px -2px 8px rgba(0, 0, 0, 0.6);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0;
    -moz-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0; }
  #add-tag-container #new-tag {
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
    margin-right: 1em;
    -webkit-transition: all 0.5s ease 0;
    -moz-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
    width: 0; }
  #add-tag-container.opened #add-tag-opener {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  #add-tag-container.opened #submit-new-tag {
    visibility: visible; }
  #add-tag-container.opened #new-tag {
    display: inline-block;
    width: 14em;
    margin-left: 106px; }

.balloon {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.balloon:hover {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab; }

.balloon.ui-draggable-dragging {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.balloon.blurred {
  opacity: 0.15; }

@-webkit-keyframes teleportIn {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0.0; }

  70% {
    -webkit-transform: scale(2);
    opacity: 1.0; }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes teleportIn {
  0% {
    -moz-transform: scale(0.3);
    opacity: 0.0; }

  70% {
    -moz-transform: scale(2);
    opacity: 1.0; }

  100% {
    -moz-transform: scale(1); } }

.balloon.new {
  -webkit-animation-name: teleportIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: teleportIn;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out; }

.source {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: green; }

.target {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: blue; }

.locator {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red; }

.connector {
  opacity: 0.4;
  height: 15px;
  background: #ffa100;
  position: absolute;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0; }
