.brand {
	margin-left: 12px !important;
}

.row {
	margin: 0 !important;
}

.scrollable {
	overflow: scroll;
}

.view-container {
	height: 400px;
	border: 1px solid;
	padding: 5px;
	position: relative;
}


/****** containers ******/

#contribution-details {
	margin-left: 0;
	border-left-width: 0px;				/* overwritting .view-container to prevent dup borders btw 1/2 */
}

#contribution-details .tag-btn {
	width: 150%;
	font-size: 18px;
	margin-top: 20%;
	margin-left: 50%;
}

#contribution-details .active {
	background-color: red;
}


/******* elements *******/

.note {
	border-bottom: 1px solid black;
	padding: 5px;
	padding-bottom: 10px;
}

#selected-note .note-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

#note-body-entry {
	width: 95%;
	height: 230px;
}

#note-headline-entry {
	width: 90%;
}

.btn-container {
	position: absolute;
	bottom: 3px;
	right: 3px;
}

/*.btn-primary {
	float: right;
}*/
