/* JUST TESTING FOR NOW */

.brand {
	margin-left: 12px !important;
}

.row {
	margin: 0 !important;
}

.span {
	height: 400px;
	outline: 1px solid black;
	padding: 5px;
	position: relative;
}

.scrollable {
	overflow: scroll;
}


#column-2 {
	margin-left: 1%;
}

.note {
	border-bottom: 1px solid black;
	padding: 5px;
	padding-bottom: 10px;
}

#selected-note .note-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

#note-body-entry {
	width: 95%;
	height: 230px;
}

#note-headline-entry {
	width: 90%;
}

.action-btn-group {
	float: right;
}

.btn-primary {
	float: right;
}


#column-2 {
}

#column-2 .tag-btn {
	width: 150%;
	font-size: 18px;
	margin-top: 20%;
	margin-left: 50%;
}

#column-2 .active {
	background-color: red;
}